{% extends 'template.html.twig' %}

{% block body %}

   <!-- Page formation -->
   <section class="service_section layout_padding_formation">
    <div class="container">
        <p>&nbsp;</p>
        <div class="row">
        <div class="col-md-12" style="background-color:#ECECEC">
      <p>&nbsp;</p>
      <h2 class="custom_heading">Nos formations</h2>
      <p class="custom_heading-text">
        <br>Pour permettre à ses clients de bénéficier d'une meilleure gestion du risque juridique, le cabinet élabore des formations sur mesure dont le programme et le contenu sont spécifiquement adaptés à leurs besoins, traitant des cas pratiques concrets inspirés des problématiques rencontrées par les participants.
      </p>
      <div class="layout_padding2">
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Droit public</h5>
              <hr>
              <p class="card-text">
                Professionnels, Particuliers et Établissements public 
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Droit des affaires</h5>
              <hr>
              <p class="card-text">
                Professionnels, Particuliers et Établissements public 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
    </div>
    <div style="text-align: center;">
      <a href="{{ path('website_contact') }}" class="text-uppercase custom_white-btn mr-3">En savoir plus</a><br><br>
    </div>
    </div>
  </section>
{% endblock %}