{% extends 'template.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
  <!-- Modification du profil de l'avocat connecté -->
  <section class="prez_compétence_section">
    <div class="container">
        <p>&nbsp;</p>
        <h2 class="custom_heading">Votre profil avocat</h2>
        <hr>
        <p style="text-align:center;">Pour accéder à votre espace d'administration, vous devez renseigner les champs obligatoires ci-dessous</p>
        <div class="row layout_padding2">
          <div class="col-md-2">&nbsp;</div>
          <div class="col-md-8">       
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <p><i>Tous les champs marqués d'un * sont obligatoires</i></p>
            <div style="text-align: center;">
                <button type="submit" class="custom_blue-btn_rdv">Valider</button>
            </div>
            {{ form_end(form) }}            
          </div>
          <div class="col-md-2">&nbsp;</div>
        </div>                
    </div>
</section>
{% endblock %}